.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(37, 196, 37);
    color: #fff;
    font-size: 32px;
}